<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>top page</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<style>
	h1 { font-size:18pt; font-weight:bold; color:gray; }
	body { font-size:13pt; color:gray; margin:5px 25px; }
	pre { border: solid 3px #ddd; padding: 10px; }
	tr { margin:5px; }
	th { padding:5px; color:white; background:darkgray; }
	td { padding:5px; color:black; background:#f0f0f0; }
	</style>
</head>

<body>
	<h1 th:text="#{content.title}">Helo page</h1>
	<p class="msg" th:text="${msg}"></p>
	<form method="post" action="/">
		<input type="checkbox" id="check1" name="check1" />
		<label for="check1">軽減税率</label>
		<input type="text" name="text1" th:value="${value}" />
		<input type="submit" value="Click" />
	</form>

</body>

</html>